<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <task:annotation-driven/>

    <bean id="crawler1" class="com.crawler.job.gifdx.net.CrawlerImpl">
        <property name="baseUrl" value="http://gifdx.net/page/"/>
        <property name="pageCount" value="200"/>
    </bean>

    <bean id="crawler2" class="com.crawler.job.www.fuliwc.info.CrawlerImpl">
        <property name="baseUrl" value="http://www.fuliwc.info/page/"/>
        <property name="pageCount" value="200"/>
    </bean>

    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5" />
        <property name="keepAliveSeconds" value="30000" />
        <property name="maxPoolSize" value="2000" />
        <property name="queueCapacity" value="200" />
    </bean>

    <bean id="webExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5" />
        <property name="keepAliveSeconds" value="30000" />
        <property name="maxPoolSize" value="200" />
        <property name="queueCapacity" value="200" />
    </bean>
</beans>
